#wrapper {
	background-color: #76b852;
}

#bottomToolbar{
	position: fixed; 
	bottom: 0px; 
	left: 0px; 
	width: 100%; 
	color: #fff; 
	background: #7bac5e;
	text-align: right;
	height: 35px;
	border-top-style: solid;
	border-width: 1px;
	border-color: black;
}

#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(192, 192, 192, 0.5);
	background-image: url("http://i.stack.imgur.com/MnyxU.gif");
	background-repeat: no-repeat;
	background-position: center;
}
